#header
{
    height:60px;
    background: linear-gradient(100deg,#f39c12,transparent);
    box-sizing: border-box;
    width:100%;
    min-width: 750px;
    /* overflow:hidden; */
}
.dropdown-bars
{
  display:none;
}
.title
{
    display:inline-block;
    margin-left:0.3125rem;
}
.img
{
    width:60px;
    height:60px;
    margin-left:0.625rem;
    vertical-align:middle;
}
.list
{
    display:inline;
}
.li-item
{
    display:inline;
    color:black;
}
.nav-links
{
    color:#c0392b;
    margin-left:0.3125rem;
    text-transform:uppercase;
    text-decoration: none;
}
.search
{
    display: inline-block;
    box-sizing:border-box;
    margin-left:22rem;
    margin-top:15px;
    /* vertical-align: middle; */
}
#search-bar
{
    border-radius:15px;
    border-width:0px;
}
.icons
{
    display: inline-block;
    margin-left:2.5rem;
    margin-top:18px;
}
.icons i{
    margin-left:1.6rem;
}
.dropdown{
    display:inline-block;
    position:relative;
    /* float: right; */
    margin-top:5px;
}
.dropdown .username {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    text-transform:uppercase;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 .dropdown:hover .username {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* script{
      position: absolute;
      top: 10pc;
      right: 10px;
  } */